<mat-card>
    <mat-card-title class="order-title">        
        &nbsp; Orders
      </mat-card-title>
    <mat-table [dataSource]="orders" class="mat-elevation-z2">
  
      <ng-container matColumnDef="orderDate">
        <mat-header-cell *matHeaderCellDef> Order Date </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{ order.orderDate | date }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{ order.product }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="expirationDate">
        <mat-header-cell *matHeaderCellDef> Expiration Date </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{ order.expirationDate | date }} </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="daysLeft">
        <mat-header-cell *matHeaderCellDef> Days Left </mat-header-cell>
        <mat-cell *matCellDef="let order"> 
            <ng-container *ngIf="getDaysLeft(order.expirationDate) >= 0; else expired">
              {{ getDaysLeft(order.expirationDate) }} days
            </ng-container>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let order">
          <button mat-raised-button color="primary" (click)="onRenew(order)">Renew</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>

  <ng-template #expired>
    <span class="expired-text">Expired</span>
  </ng-template>