  mat-card {
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  
  mat-table {
    width: 80%;
  }

  mat-form-field {
    margin: 10px;
  }
 
  .customers-title {
    font-size: 1.6rem;
    font-weight: 600; 
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 1rem;
  }
