<h2 mat-dialog-title>Generate License</h2>

<mat-dialog-content>
  <p><strong>Product:</strong> {{ data.product }}</p>
  <p><strong>User Name:</strong> {{ data.userName }}</p>
  <p><strong>Company:</strong> {{ data.company }}</p>
  <p><strong>Num of Days:</strong> {{ data.numDays }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
